@font-face {
    font-family: 'Coronet';
    src: url(Coronet-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

nav {
    background: white;
    border-bottom: 2px solid #B7B7B7;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Coronet';
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav-menu {
    display: flex;
    gap: 35px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.button-section {
    text-align: center;
    padding: 60px 20px;
}

.btn-publicacao {
    background: #00a8ff;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s;
}

.btn-publicacao:hover {
    background: #0090e0;
}

.publications-title {
    text-align: center;
    padding: 40px 20px;
}

.publications-title h1 {
    font-size: 28px;
    font-weight: normal;
    color: black;
}


.recommendations {
    background: white;
    padding: 40px 0 60px;
    margin-top: 20px;
}

.recommendations h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
    color: black;
    text-align: center;
}

.publication-item {
    border-top: 2px solid #B7B7B7;
    padding: 15px 50px;
    text-decoration: none;
    display: block;
    background: white;
    transition: 0.2s ease;
}

.publication-item:hover {
    background: #fafafa;
}

.publication-item1 {
    border-top: 2px solid #B7B7B7;
    border-bottom: 2px solid #B7B7B7;
    padding: 15px 50px;
    text-decoration: none;
    display: block;
    background: white;
    transition: 0.2s ease;
}

.publication-item1:hover {
    background: #fafafa;
}

.publi-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
}

.publi-description {
    font-size: 13px;
    color: #999;
    margin-bottom: 12px;
}

.stars {
    display: flex;
    color: #ffd700;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 1700px;
}

footer {
    background: #E2E2E2;
    padding: 20px 50px;
    text-align: center;
    margin-top: 217.4px;
}

.footer-logo {
    font-family: Coronet;
    font-size: 30px;
    color: black;
}
